# GitLab Runner
d-i apt-setup/local11/repository string https://packages.gitlab.com/runner/gitlab-runner/debian trixie main
d-i apt-setup/local11/comment string GitLab Runner Archive
d-i apt-setup/local11/key string https://packages.gitlab.com/gpgkey/gpg.key
d-i apt-setup/local11/source boolean false

# Bazel upstream APT repo. Bazelisk is still staged separately for the managed runner users.
d-i apt-setup/local12/repository string https://storage.googleapis.com/bazel-apt stable jdk1.8
d-i apt-setup/local12/comment string Bazel Archive
d-i apt-setup/local12/key string https://bazel.build/bazel-release.pub.gpg
d-i apt-setup/local12/source boolean false
d-i pkgsel/include string gitlab-runner aptly podman buildah golang-github-containers-common conmon crun uidmap netavark aardvark-dns passt slirp4netns catatonit containernetworking-plugins golang-github-containernetworking-plugin-dnsname openssh-client dbus-user-session make build-essential devscripts debhelper debmake dpkg-dev lintian quilt sbuild mmdebstrap uidmap
d-i pkgsel/include seen true
